<!DOCTYPE html>
<html>

<head>
  <title>Array Rendering Node</title>
</head>

<body>
  <h1>Array Rendering Node</h1>
  <ul>
    <% for (let i=0; i < arr.length; i++) {%>
      <li>
        <%= arr[i] %>
      </li>
      <% } %>
  </ul>
</body>

</html>
