<!DOCTYPE html>
<html>
<head>
  <title>Array Rendering Ruby</title>
</head>
<body>
  <h1>Array Rendering Ruby</h1>
  <ul>
    <% arr.each do |n| %>
      <li><%= n %></li>
    <% end %>
  </ul>
</body>
</html>
